<div class="container">
  <header>
    <div class="header-content">
      <div class="logo-container">
        <img src="assets/logo-oss.png" style="width: 70px; height: 100px" alt="Logo" class="logo">
        <span class="logo-text">
    Sahara and Sahel Observatory<br>
    Observatoire du Sahara et du Sahel
  </span>
      </div>

      <div class="title-container">
        <h1>Visualize Geospatial data</h1>
      </div>
    </div>

  </header>

  <main>
    <router-outlet>
      <app-map></app-map>
    </router-outlet>
  </main>

  <footer>
    <p>&copy; 2024 My Application. All rights reserved.</p>
  </footer>
</div>
